.hero {
  background-color:#F9F9F9;
  height: 100vh;

  
}

.itembar {

  color: black;
  font-weight: 500;
}




.bar {
    position: relative;
    left: 120px;
    margin-top: 30px;
    right: 80px;
    background-color:#F9F9F9;
    color: black;
  
  }
   
  .cart {
    position: absolute;
    top: 10px;
    right: 28%;
    cursor: pointer;

    height:30px;
    width:30px;
    
    
  }

  .bag {
    position: relative;
  background-color:#111; }
  
  .number {
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 45%;
      line-height: 20px;
      color: #fff;
      font-size: 12px;
      background: #00C4A7;
      right: 25.5% }
  
  
  .login {
    position: absolute;
    top: 10px;
    right: 25%;
    cursor: pointer;

    height:28px;
    width:30px;
    
    
  }

  


  .logo {

    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size:20px; font-weight: bold; letter-spacing: 2px; line-height: 1; text-align: center; 
  }

  .navbar-item 
  {
    font-family: 'Helvetica Neue', sans-serif; font-size:16px;font-weight: 500;

  }

  .title
  {
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size:80px; letter-spacing: 4px;

  }

  .subtitle
  {
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size:20px;
  }

  .container {

   margin-bottom: 300px;
  }


  .vase {
    
   
    
    right: 0;
    display: block;
    position: absolute;
    margin-bottom: 30%;
    top:24%;
    right: 7%;
    float: right;


  }

  .title {
   
    left: 160px;
    margin-left: 40px;
  
  }
  
  .subtitle {
    
    left: 160px;
    margin-left: 40px;

  }
 

  .textp {

    font-size: 40px;
    color: black;
    margin-left: 8%;
    font-weight: bold;
    margin-bottom: 30px;;
  }
  
  .card {

    border: black solid 8px;
    width: 25%;
    height: 400px;
    left: 10%;
    display: flex;
    

  }


  .card-image {

    display: block;
    margin-left:10%;
    margin-top: 10%;
  }

  .productcon {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
   
  }
  
  .quote {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);

  
   
  }

  .productImage {
    margin: auto;
    height: 300px;
    width: 250px;

  }
  
  p {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  span {
    font-weight: bold;
    position: relative;
    margin-left: 15px;
    color: #00C4A7;
  
    
  }

  .nosProduits {

    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: 'Helvetica Neue', sans-serif; 
    margin-left: 5%;
    margin-top: 20px;
  }


  .end {
    background-color: #1b262c;
    height:100px;
    color: white;
    display: flex;
    
    
  }

  .footerend {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
   
  }
 

  .btn {
    
    margin-left: 5%;
    
    top:10px;
    font-size: 15px;
    font-weight: 400;
    
    margin-bottom: 25%;

  }
  .go{

    color: #111;
  }

  .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}

.ig {

  width: 100px;
  height: 80px;
  top :20%;
  left:30%;
}








  
  
  


  
  